streamlit==1.39.0
streamlit-webrtc>=0.48.1
tensorflow==2.12.0
protobuf<3.20,>=3.9.2
av==10.0.0
aiortc==1.4.2
numpy==1.23.5
opencv-python==4.8.0.76
gtts==2.5.3
nltk==3.8.1
requests==2.31.0
rich==13.7.1